@media only screen and (max-width: 425px) {
    nav a{
        font-size: 10px;
    }
    nav a:hover{
        font-size: 15px;
    }

  }

  @media only screen and (max-width: 700px) {
    .acties .button{
        width: 40%;
    }
    .formdiv{
        width: 90%;
        margin-left: 5%;
    }
    .nophone{
        display: none;
    }
  }

  @media only screen and (max-width: 1000px) {
    .product{
        width: 47%;
    }
  }

  @media only screen and (max-width: 600px) {
      .product{
          width: 98%;
      }
    }